@import "footer";

*{
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	height: 45px;
	background-color: #a90506;
	text-align: center;
	line-height: 45px;
	color: white;
	.head-select{
	display: flex;
	.left{
		width: 52px;
	}
	.center{
		flex: 1;
		font-size: 20px;
	}
	.right{
		width: 52px;
		height: 25px;
		border: 1px solid #860102;
		text-align: center;
		line-height: 25px;
		margin: 10px;
		box-shadow: 0 0 5px #860102;
		border-radius: 8px;
		background-color:#c90707;
		a{
			font-size: 14px;
			padding: 10px;
			color: white;
		}
	}
	}
}

/******************product***********************/
.product-item{
	width: 100%;
	position: fixed;
 	top: 0;
	left: 0;
	padding-top: 45px;
	z-index: 3;
	background-color: #747474;
	li{
		padding: 13px;
		padding-left: 5px;
		color: white;
		font-size: 16px;
		.price{
			color: #9e3134;
		}
	}
}
/******************product***********************/
.product{
	padding-top: 90px;
	padding-bottom: 50px;
	width: 100%;
	overflow: hidden;
	dl{
		position: relative;
		left: 0;
		top: 0;
		padding: 12px;
		overflow: hidden;
		border-bottom: 1px solid #CCC;
		dt{
			margin-right: 10px;
			float: left;
			width: 88px;
			height: 88px;
			img{
			width:100%;
			height:100%;
			}
		}
		dd{
			width: 50vw;
			float: left;
			.price{
				span{
					color:#9e3134; 
				}
			}
			.number{
				.increase{
					width: 32px;
					height: 21px;
					background-color: #767676;
					border-radius: 4px;
					line-height: 15px;
					outline: none;
					font-size: 10px;
					color: white;
				}
				.txt{
					width: 32px;
					height: 18px;
					border-radius: 5px;
					box-shadow: 0 0 2px black inset;
					outline: none;
					padding: 2px;
				}
				.decrease{
					width: 32px;
					height: 21px;
					background-color: #767676;
					border-radius: 4px;
					line-height: 15px;
					outline: none;
					font-size: 10px;
					color: white;
				}
			}
		}
		a{
			position: absolute;
			right: 15px;
			top: 12px;
			font-size: 18px;
			color: #333333;

		}
	}
}


/**********************footer************************/
